@page "/travel"

@using Armali.Horizon.Segaris.Services

@inject TravelService TravelService
@inject ProjectService ProjectService

<HorizonAuthentication @bind-User="CurrentUser" OnAuthenticated="LoadData" />
<HorizonLayout AppName="Segaris" PageName="Travel">
    <Sidebar>
        <HorizonHeroButton Color="hz-opera" Icon="fa-plus" Caption="Add Travel" OnClick="@(() => PopupCreate())" />
    </Sidebar>
    <SidebarBottom>
        
    </SidebarBottom>
    <Body>
    
    <HorizonTable Items="@Entities">
        <Header>
            <HorizonCellHeader TItem="TravelEntity" Name="Name" />
            <HorizonCellHeader TItem="TravelEntity" Filterable="true" 
                               ValueSelector="@(e => Index(Categories, e.CategoryId)?.Name ?? string.Empty)" Name="Destination" />
            <HorizonCellHeader TItem="TravelEntity" Filterable="true" 
                               ValueSelector="@(e => Index(Statuses, e.StatusId)?.Name ?? string.Empty)" Name="Status" />
            <HorizonCellHeader TItem="TravelEntity" Name="Pax" />
            <HorizonCellHeader TItem="TravelEntity" Name="Dates" />
            <HorizonCellHeader TItem="TravelEntity" Filterable="true" 
                               ValueSelector="@(e => Index(CostCenters, e.CostCenterId)?.Name ?? string.Empty)" Name="Cost Center" />
            <HorizonCellHeader TItem="TravelEntity" Name="Actions" />
        </Header>
        <RowTemplate>
            <HorizonCellTwoLine Title="@context.Name" 
                                Subtitle="@(context.ProjectId is not null ? (Projects.FirstOrDefault(p => p.Id == context.ProjectId.Value)?.Name ?? "Deleted") : "—")"
                                Center="false" 
                                Icon="@PrivacyIcon(context.IsPrivate, context.Creator, CurrentUser)" IconColor="@PrivacyColor(context.IsPrivate, context.Creator, CurrentUser)" />
            <HorizonCellTwoLine Title="@context.Destination" Subtitle="@Index(Categories, context.CategoryId)?.Name" />
            <HorizonCellStatus Content="@Index(Statuses, context.StatusId)" />
            <HorizonCellText Content="@context.Pax" />
            <HorizonCellTwoLine Title="@context.StartDate" Subtitle="@context.EndDate" />
            <HorizonCellText Content="@Index(CostCenters, context.CostCenterId)?.Name" />
            <HorizonCellButtons>
                <HorizonMiniButton Color="hz-sol" Icon="fa-money-check-dollar" OnClick="@(() => PopupSubEntity(context))"/>
                <HorizonMiniButton Color="hz-apollo" Icon="fa-pen" OnClick="@(() => PopupEdit(context))"/>
                <HorizonMiniButton Color="hz-tribunal" Icon="fa-trash" OnClick="@(() => PopupDelete(context))"/>
            </HorizonCellButtons>
        </RowTemplate>
    </HorizonTable>
    
    </Body>
</HorizonLayout>

@if (ShowEditPopup)
{
    <HorizonPopup @bind-Visible="ShowEditPopup" OnCanceled="Refresh">
        <HorizonDialog Title="@(Intent == PopupIntent.Create ? "New Travel" : "Edit Travel")">
            <Content>
                <HorizonForm Model="TargetEntity" Columns="2">
                    <HorizonFormCell Label="Name">
                        <HorizonInputText @bind-Text="@TargetEntity!.Name"/>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Destination">
                        <HorizonInputText @bind-Text="@TargetEntity!.Destination"/>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Category">
                        <HorizonCombobox Items="Categories.Select(c => c.Id)" @bind-Value="@TargetEntity!.CategoryId">
                            <ItemTemplate Context="index">
                                @Index(Categories, index)?.Name
                            </ItemTemplate>
                        </HorizonCombobox>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Status">
                        <HorizonCombobox Items="Statuses.Select(s => s.Id)" @bind-Value="@TargetEntity!.StatusId">
                            <ItemTemplate Context="index">
                                @Index(Statuses, index)?.Name
                            </ItemTemplate>
                        </HorizonCombobox>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Cost Center">
                        <HorizonCombobox Items="CostCenters.Select(c => c.Id)" @bind-Value="@TargetEntity!.CostCenterId">
                            <ItemTemplate Context="index">
                                @Index(CostCenters, index)?.Name
                            </ItemTemplate>
                        </HorizonCombobox>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Pax">
                        <HorizonInputInteger @bind-Amount="@TargetEntity!.Pax"/>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Start Date">
                        <HorizonInputDate @bind-Date="@TargetEntity!.StartDate"/>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="End Date">
                        <HorizonInputDate @bind-Date="@TargetEntity!.EndDate"/>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Project">
                        <HorizonEntityLink LinkedName="@(TargetEntity!.ProjectId is not null ? Projects.FirstOrDefault(p => p.Id == TargetEntity.ProjectId.Value)?.Name : null)"
                                           OnSelectClicked="@(() => ShowProjectSelector = true)"
                                           OnClearClicked="@(() => TargetEntity!.ProjectId = null)" />
                    </HorizonFormCell>
                    
                    <div class="mt-6">
                        <HorizonCheckbox Text="Is private" @bind-Value="@TargetEntity!.IsPrivate" />
                    </div>
                </HorizonForm>
            </Content>
            <Controls>
                <HorizonInlineButton Color="hz-tribunal" Icon="fa-xmark" Caption="Cancel" OnClick="@(() => DoNotCreate())"/>
                <HorizonInlineButton Color="hz-apollo" Icon="fa-floppy-disk" Caption="Save" OnClick="@(() => DoCreate())"/>
            </Controls>
        </HorizonDialog>
    </HorizonPopup>
}

@if (ShowDeletePopup)
{
    <HorizonPopup @bind-Visible="ShowDeletePopup">
        <HorizonDialog Title="Confirm delete">
            <Content>
                <HorizonLabelTitle Text="Are you sure you want to delete this entity?" />
                <HorizonLabelText Text="@TargetEntity!.Name" />
            </Content>
            <Controls>
                <HorizonInlineButton Color="hz-tribunal" Icon="fa-xmark" Caption="Cancel" OnClick="@(() => DoNotDelete())"/>
                <HorizonInlineButton Color="hz-apollo" Icon="fa-floppy-disk" Caption="Delete" OnClick="@(() => DoDelete())"/>
            </Controls>
        </HorizonDialog>
    </HorizonPopup>
}

@if (ShowSubEntityPopup)
{
    <HorizonPopup @bind-Visible="ShowSubEntityPopup">
        <HorizonDialog Title="@TargetEntity!.Name">
            <Content>
                <HorizonTable Items="@SubEntities">
                    <Header>
                        <HorizonCellHeader TItem="TravelSubEntity" Name="Date" />
                        <HorizonCellHeader TItem="TravelSubEntity" Name="Name" />
                        <HorizonCellHeader TItem="TravelSubEntity" Filterable="true" 
                                           ValueSelector="@(e => Index(SubEntityCategories, e.CategoryId)?.Name ?? string.Empty)" Name="Category" />
                        <HorizonCellHeader TItem="TravelSubEntity" Name="Amount" />
                        <HorizonCellHeader TItem="TravelSubEntity" Name="Actions" />
                    </Header>
                    <RowTemplate Context="subEntity">
                        <HorizonCellDateTime Content="@subEntity.Date" />
                        <HorizonCellText Content="@subEntity.Name" />
                        <HorizonCellText Content="@Index(SubEntityCategories, subEntity.CategoryId)?.Name" />
                        <HorizonCellCurrency Content="@subEntity.Amount" />
                        <HorizonCellButtons>
                            <HorizonMiniButton Color="hz-apollo" Icon="fa-pen" OnClick="@(() => PopupSubEntityEdit(subEntity))"/>
                            <HorizonMiniButton Color="hz-tribunal" Icon="fa-trash" OnClick="@(() => PopupSubEntityDelete(subEntity))"/>
                        </HorizonCellButtons>
                    </RowTemplate>
                </HorizonTable>
            </Content>
            <Controls>
                <HorizonInlineButton Color="hz-apollo" Icon="fa-plus" Caption="Add Expense" OnClick="@(() => PopupSubEntityCreate())"/>
            </Controls>
        </HorizonDialog>
    </HorizonPopup>
}

@if (ShowSubEntityEditPopup)
{
    <HorizonPopup @bind-Visible="ShowSubEntityEditPopup" OnCanceled="SubEntityRefresh">
        <HorizonDialog Title="@(Intent == PopupIntent.Create ? "New EXPENSE" : "Edit EXPENSE")">
            <Content>
                <HorizonForm Model="TargetSubEntity" Columns="2">
                    <HorizonFormCell Label="Date">
                        <HorizonInputDate @bind-Date="@TargetSubEntity!.Date"/>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Name">
                        <HorizonInputText @bind-Text="@TargetSubEntity!.Name"/>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Category">
                        <HorizonCombobox Items="SubEntityCategories.Select(c => c.Id)" @bind-Value="@TargetSubEntity!.CategoryId">
                            <ItemTemplate Context="index">
                                @Index(SubEntityCategories, index)?.Name
                            </ItemTemplate>
                        </HorizonCombobox>
                    </HorizonFormCell>
                    
                    <HorizonFormCell Label="Amount">
                        <HorizonInputNumber @bind-Amount="@TargetSubEntity!.Amount"/>
                    </HorizonFormCell>


                </HorizonForm>
            </Content>
            <Controls>
                <HorizonInlineButton Color="hz-tribunal" Icon="fa-xmark" Caption="Cancel" OnClick="@(() => SubEntityDoNotCreate())"/>
                <HorizonInlineButton Color="hz-apollo" Icon="fa-floppy-disk" Caption="Save" OnClick="@(() => SubEntityDoCreate())"/>
            </Controls>
        </HorizonDialog>
    </HorizonPopup>
}

@if (ShowSubEntityDeletePopup)
{
    <HorizonPopup @bind-Visible="ShowSubEntityDeletePopup">
        <HorizonDialog Title="Confirm delete">
            <Content>
                <HorizonLabelTitle Text="Are you sure you want to delete this entity?" />
                <HorizonLabelText Text="@TargetSubEntity!.Date.ToString("yyyy-MMM-dd")" />
            </Content>
            <Controls>
                <HorizonInlineButton Color="hz-tribunal" Icon="fa-xmark" Caption="Cancel" OnClick="@(() => SubEntityDoNotDelete())"/>
                <HorizonInlineButton Color="hz-apollo" Icon="fa-floppy-disk" Caption="Delete" OnClick="@(() => SubEntityDoDelete())"/>
            </Controls>
        </HorizonDialog>
    </HorizonPopup>
}

<ProjectSelectorPopup @bind-Visible="ShowProjectSelector"
                      CurrentUser="@CurrentUser"
                      OnSelected="OnProjectSelected" />

@code {
    
    private bool ShowEditPopup;
    private bool ShowDeletePopup;
    private bool ShowSubEntityPopup;
    private bool ShowSubEntityEditPopup;
    private bool ShowSubEntityDeletePopup;
    private bool ShowProjectSelector;
    private PopupIntent Intent = PopupIntent.None;
    private string CurrentUser = string.Empty;

    // TRAVEL module entities
    private IEnumerable<TravelCategory> Categories = [];
    private IEnumerable<TravelStatus> Statuses = [];
    private IEnumerable<TravelCostCenter> CostCenters = [];
    private IEnumerable<TravelEntity> Entities = [];
    private TravelEntity? TargetEntity;
    private IEnumerable<TravelSubEntityCategory> SubEntityCategories = [];
    private IEnumerable<TravelSubEntity> SubEntities = [];
    private TravelSubEntity? TargetSubEntity;
    
    // Proyectos disponibles para enlace
    private IEnumerable<ProjectEntity> Projects = [];

    protected override async Task OnInitializedAsync()
    {
        // Queries for the Travel module
        Categories = await TravelService.GetTravelCategories();
        Statuses = await TravelService.GetTravelStatuses();
        CostCenters = await TravelService.GetTravelCostCenters();
        SubEntityCategories = await TravelService.GetTravelSubEntityCategories();
    }

    private async Task LoadData()
    {
        Projects = await ProjectService.GetProjectEntities(CurrentUser);
        await Refresh();
    }
    
    private async Task Refresh()
    {
        Entities = await TravelService.GetTravelEntities(CurrentUser);
    }

    private void PopupCreate()
    {
        // Create initial state of target entity for the form
        TargetEntity = new TravelEntity()
        {
            Creator = CurrentUser,
            StartDate = DateTime.Today.AddDays(7),
            EndDate = DateTime.Today.AddDays(14)
        };
        
        Intent = PopupIntent.Create;
        ShowEditPopup = true;
    }

    private void PopupEdit(TravelEntity entity)
    {
        TargetEntity = entity;
        Intent = PopupIntent.Edit;
        ShowEditPopup = true;
    }
    
    private void PopupDelete(TravelEntity entity)
    {
        TargetEntity = entity;
        ShowDeletePopup = true;
    }
    
    private async Task DoCreate()
    {
        // Call service to create entity
        if (Intent is PopupIntent.Create)
            await TravelService.AddTravel(TargetEntity!);
        else
            await TravelService.UpdateTravel(TargetEntity!);
        await Refresh();
        ShowEditPopup = false;
    }
    
    private async Task DoDelete()
    {
        await TravelService.DeleteTravel(TargetEntity!.Id);
        await Refresh();
        ShowDeletePopup = false;
    }

    private async Task DoNotCreate()
    {
        TargetEntity = null;
        await Refresh();
        ShowEditPopup = false;
    }
    
    private async Task DoNotDelete()
    {
        TargetEntity = null;
        await Refresh();
        ShowDeletePopup = false;
    }
    
    private async Task SubEntityRefresh()
    {
        SubEntities = await TravelService.GetTravelSubEntities(TargetEntity!);
    }

    private async Task PopupSubEntity(TravelEntity entity)
    {
        TargetEntity = entity;
        await SubEntityRefresh();
        ShowSubEntityPopup = true;
    }
    
    private void PopupSubEntityCreate()
    {
        // Create initial state of target entity for the form
        TargetSubEntity = new TravelSubEntity()
        {
            TravelId = TargetEntity!.Id,
            Date = DateTime.Today
        };
        
        Intent = PopupIntent.Create;
        ShowSubEntityEditPopup = true;
    }
    
    private void PopupSubEntityEdit(TravelSubEntity entity)
    {
        TargetSubEntity = entity;
        Intent = PopupIntent.Edit;
        ShowSubEntityEditPopup = true;
    }
    
    private void PopupSubEntityDelete(TravelSubEntity entity)
    {
        TargetSubEntity = entity;
        ShowSubEntityDeletePopup = true;
    }
    
    private async Task SubEntityDoCreate()
    {
        // Call service to create entity
        if (Intent is PopupIntent.Create)
            await TravelService.AddTravelSubEntity(TargetSubEntity!);
        else
            await TravelService.UpdateTravelSubEntity(TargetSubEntity!);
        await SubEntityRefresh();
        ShowSubEntityEditPopup = false;
    }
    
    private async Task SubEntityDoDelete()
    {
        await TravelService.DeleteTravelSubEntity(TargetSubEntity!.Id);
        await SubEntityRefresh();
        ShowSubEntityDeletePopup = false;
    }

    private async Task SubEntityDoNotCreate()
    {
        TargetSubEntity = null;
        await SubEntityRefresh();
        ShowSubEntityEditPopup = false;
    }
    
    private async Task SubEntityDoNotDelete()
    {
        TargetSubEntity = null;
        await SubEntityRefresh();
        ShowSubEntityDeletePopup = false;
    }
    
    private void OnProjectSelected(int projectId)
    {
        if (TargetEntity is not null)
            TargetEntity.ProjectId = projectId;
    }
}